body
{
    font-family:'Courier New', Courier, monospace;
    margin-left: 20%;
}

h1
{
    margin-top: 5%;
    margin-bottom: 5%;
}

h3
{
    color: rgb(107, 101, 101);
    width: 40%;
    margin-bottom: 4%;
}

#logo
{
    position: absolute;
    left: 51%;
    top: 20%;
}

pre
{
    background-color: black;
    color: white;
    width: 50%;
}

img
{
    margin-bottom: 3%;
}